[submodule "bufexplorer"]
	path = bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "quickfixsigns_vim"]
	path = quickfixsigns_vim
	url = https://github.com/tomtom/quickfixsigns_vim.git
[submodule "rainbow_parentheses.vim"]
	path = rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "supertab"]
	path = supertab
	url = https://github.com/ervandew/supertab.git
[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "neocomplete.vim"]
	path = neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "tComment"]
	path = tComment
	url = https://github.com/vim-scripts/tComment.git
[submodule "ultisnips"]
	path = ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim-commentary"]
	path = vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim-dispatch"]
	path = vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim-glsl"]
	path = vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
[submodule "vim-indent-guides"]
	path = vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim-pasta"]
	path = vim-pasta
	url = https://github.com/sickill/vim-pasta.git
[submodule "vim-repeat"]
	path = vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim-textobj-user"]
	path = vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
